@charset "utf-8";
/* CSS Document */
* {padding:0; margin:0; font-family: 'Reem Kufi', sans-serif;}

/*header*/
header {background:#F90; border-bottom:#666 2px solid; width:100%; height:40px; position:fixed;}
header li {list-style:none; margin:auto; float:left; padding:0px 0px 12px 0px;}
header li a{text-decoration:none; color:#000; font-size:12px; padding:16px 5px 6px 5px;}
header a:hover{background:#CCC; transition:all 0.5s ease; color:#F00;}
/*-----end header------*/

.quizbox{margin-top:100px;}